body{
    margin: 0 auto;
    margin-top: 50px;
    background-color: chartreuse;
    font-family: fantasy;
    font-style: oblique;
    color:blue;
    text-align: center;
    background-image: url('../img/ugly-no-thanks.gif');
    background-repeat: repeat-x;
}

h1{
    color: chartreuse;
    background-color: coral;
}

h1:hover{
    background-color: black;
    color: white;
}

#bottles{
    position: absolute;
    top: 700px;
    left: 300px;
}

 p{
    text-align: justify;
    color: cadetblue;
 }

 h3{
    text-align: left;
    color: grey;
 }

 h4:hover{
    position: absolute;
    top: 30px;
    left: 700px;
 }

 img:hover{
    scale: 400%;
 }

 h2:hover{
    scale: 50%;
    color: crimson;
 }

 h3:hover{
    position: absolute;
    left: 900px;
 }

 h4{
    color: cyan;
 }

 ul{
    text-align: right;
 }

 h2{
    color: darksalmon;
 }